<h2>socket Cliente</h2>

<form id="productForm">
    <label>Product: <input type="text" name="name" id="name"></label>
    <label>Price: <input type="text" name="price" id="price"></label>
    <input type="submit" value="SEND">
</form>

<p id="products"></p>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>