<h2>socket Cliente</h2>

<form id="form">
    <label>Product: <input type="text" name="name" id="name"></label>
    <label>Price: <input type="text" name="price" id="price"></label>
    <input type="submit" value="SEND">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>